/*comentario*/

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#menu ul{
    margin: o;
    background-color:#d8d7cf;

}

#menu ul li{
    display: inline;
    }

#menu ul li a{
padding: 5px 11px;
display: inline-block;
color: rgb(7, 7, 7);
text-decoration: none;

}
#menu ul li a:hover{
    color: rgb(138, 138, 138);
}

body {
    margin:0;
    padding:0;
    color:rgba(31, 15, 15, 0.911);
    background:rgba(207, 202, 202, 0.336)
}
#geral {
    width:980px;
    margin:0 auto;
    background:rgba(207, 202, 202, 0.336);
}
#cabecalho {
    background:rgb(148, 145, 145);
}
#conteudo-1 {
    background-color: rgb(207, 202, 202);
}
#esquerda {
    background:rgb(255, 253, 254);
}
#direita {
    background:rgb(133, 133, 133);
}
#rodape {
    background:rgb(207, 202, 202);
}
#conteudo-2-1 {
    float:left;
    width:60%;
    background:rgb(133, 133, 133);
}
#conteudo-2-2 {
    float:right;
    width:20%;
    background:rgba(133, 133, 133, 0.178);
}
#rodape {
    clear:both;/*posicionando o rodape abaixo das outras divs*/
    background:black;

}
#cabecalho {
    padding:15px;
    background:#d8d7cf;
    text-align: center;
    
}
# conteudo-1 {
    float:left;
    /* diminuimos a largura para não quebrar o layout. 
    * valor antigo 220
    */
    width:100px;
    padding:10px;
    background:rgb(207, 202, 202);
}
#conteudo-2-1 {
    float:left;
    min-width:500px;
    background:rgba(236, 233, 233, 0.219);
    margin:5%;
    padding:10px;
}
#conteudo-2-2 {
    float: right;
    /*diminuimos a largura para não quebrar o layout
    * valor antigo 220
    */
    min-width:25px;
    padding:5%;
    background:rgba(236, 233, 233, 0.219);
    margin:2%;
    padding:10px;
}
#rodape {
    clear:both;
    padding:1px;
    background:#d8d7cf
}
