{% load static %}
<!DOCTYPE html>
<html lang="pt-br" />

<head>
    <link rel = "shortcut icon" type = "imagem/x-icon" href = "{% static 'img/ico.png' %}" width: 100%>

    <main>
    <meta charset="UTF-8" />
    <p style = "font-family:courier,arial,helvetica;">
        
    <title>SOS STUDENT</title>
    </p>


    <link href="{% static 'css/play.css' %}" rel="stylesheet" type="text/css">
       

</head>

<body bgcolor="DodgerBlue">
    <center>
    


    <div id="cabecalho">
        
            <div id="geral"></div>
            <center>
            <font face="Times New Roman" color="ForestGreen"</font>
            <img src="{% static 'img/capa2.img.png' %}" alt="Capa" title="Foto de capa" width: "100%">
               
            </center>
    
        
    </div>

    <div id="menu" style="font-size: 25px">
                    
                <ul>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
                    <li><a href="{% url 'index' %}">INICIO</a></li>
                    <li><a href="https://www.ifpb.edu.br/"><i></i> IFPB</a></li>
                    <li><a href="https://classroom.google.com/"> GOOGLE CLASSROON</a></li>
                    <li><a href="https://suap.ifpb.edu.br/accounts/login/?next=/"> SUAP</a></li>
                    <li><a href="https://www.instagram.com/ifpbcznaveia/?hl=pt-br"> @IFPBCZNAVEIA</a></li>
                    <li><a href="https://www.instagram.com/caest.ifpbcz/?hl=pt-br"> @CAEST.IFPBCZ</a></li>
                    
                
                </ul>
            </dive>

    <div id="principal">
        <div id="conteudo-1">
            
        </div>
        <div id="conteudo-2">

        
            <div id="conteudo-2-1">
                <div class="justificado">
                
                    <font face="greatvibes" color="black"</font>
                     <h1 style="font-size: 50px" align="left">Melhores aplicativos para ajudar nos seus estudos</h1>
                    
                     
                     <p>  <br/><br/></p>
                     
                    
                    <p style="font-size: 30px" align="Justify">01. Aplicativos para se manter concentrado</p>
                    <p></p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ABvFOSkwu_8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p>  </p>
                    <img src="{% static 'img/s/1ap.img.png' %}" alt="Aplicativos" title="Aplicativos para se manter concentrado" width="50%">
                    <p>  <br/><br/></p>
                    <p style="font-size: 30px" align="Justify">02. Aplicativos para organizar seus estudos</p>
                    <p> </p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/u8KtRK7fUQY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p> </p>
                    <img src="{% static 'img/s/2ap.img.png' %}" alt="Aplicativos" title="Aplicativos para se manter concentrado" width="50%">

                   <p>  <br/><br/></p>
                    <p style="font-size: 30px" align="Justify">03. Os melhores aplicativos para estudos</p>
                    <p> </p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/j4_IW1F2YOQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p> </p>
                    <img src="{% static 'img/s/3ap.img.png' %}" alt="Aplicativos" title="Aplicativos para se manter concentrado" width="50%">
                    <p>  <br/><br/></p>
                    <p style="font-size: 30px" align="Justify"></p>

                   
                    <font face="Montserrat", "sans-serif" color="black"</font>
                        <HR>
                        <p>
                        <p>  <br/><br/></p>
                        <h1 align="left">Veja Também:</h1>
                
                        <a href="{% url 'index' %}"><img src="{% static 'img/s/aprende.img.png' %}" alt=" Como aprender mais rápido?."/ width="20%" ></a>
                        <a href="{% url 'terceirapagina' %}"><img src="{% static 'img/s/playlist.img.png'%}" alt="Playlist de estudos."/ width="20%" ></a>
                        <a href="{% url 'quartapagina' %}"><img src="{% static 'img/s/video.img.png' %}" alt="Indicações de canais de estudo."/ width="20%" ></a>
                        <a href="{% url 'sextapagina' %}"><img src="{% static 'img/s/escola.img.png' %}" alt="como ser um aluno nota 10?."/ width="20%" ></a>

                       <p>  <br/><br/></p>
                       <a href="{% url 'sextapagina' %}"><img src="{% static 'img/s/anterior.img.png' %}" align="left" alt="voltar a página anterior."/ width="4%" ></a>
                       
                    
                        
                        
            </div>
        
    </center>
                    

            </div>
            <div id="conteudo-2-2">
                <font face="courier New" color="black"</font>
                <center>
                <p>  <br/><br/></p>
                <img src="{% static 'img/e.img.png' %}" alt="JÉSSICA LIRA" title="Foto da criadora da página" width="200">
                <h2>Quem sou?</h2>
                
                <p align="Justify" style="font-size: 25px"> Olá, me chamo Jéssica. Sou estudante do IFPB campus Cajazeiras. Criei esse site, no estilo de um Blog com a finalidade de ajudar vocês a ser produtivos, fazendo com que consigam cumprir todas as atividades propostas pelo campus e terem um ótimo rendimento escolar.
               <p>  <br/><br/></p>
                <h2 style="font-size: 25px">Dicas Úteis</h2>
               <img src="{% static 'img/importante1.img.jpeg' %}" alt="Dicas" title="Dicas importantes de estudo." width="100%">
                <p>  <br/><br/></p>
              
                 <h2 style="font-size: 25px">Descubra a profissão perfeita para você</h2>
                <a href="https://pt.quizur.com/quiz/qual-sua-profissao-ideal-para-voce-AHLq"><img src="{% static 'img/q1.img.png' %}" align="right" alt="Quiz de carreira profissional"/ width="100%" ></a>
                </center>
            
            </div>
        </div>
    </div>
    <div id="rodape">
        <center>
        <font face="helvetica" color="black"</font>
        <h5 style="font-size: 20px">Espero ter ajudado, Boa Sorte.</h5>
        </center>
    </div>
</div>
    </main>
</body>
</html>